<!DOCTYPE html>

<html>
<head>
<link rel="icon" type="image/x-icon" href="C:/Users/vinay/OneDrive/Desktop/Flask/class.jpg">
    <title>Student HUB   
</title>
<style>
<link rel="stylesheet" href="1.css" >
    body {background-color:#92a8d1;}
</style>
</head>
<body>
    
    <div class="box">
        <div>One</div>
        <div>Two</div>
        <div>Three
            <br>has
            <br>extra
            <br>text
        </div>
      </div>
    <img src="C:/Users/vinay/OneDrive/Desktop/class.jpg" >
    <a href="profile.html">click here</a>
<h1>My First Heading</h1>
<p>To so.</p>

</body>
</html>